
@font-face {
  font-family: 'Minecraft';
  src: url(./font/Minecraft.woff);
}

* {
 font-family: 'Minecraft';
}  

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body::after {
  content: "";
  background: url(./img/dirt.png);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#game-board {
  /* background-color: #c9f6ff; */
  background-color: #dbf3fa;
  background-color: #b7e9f7;
  width: 90vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  margin: auto;
}

aside {
  background-color: #cccdc6;
  /* background-color: #e8e9eb; */
  /* background-color: #f5fcff; */
  width: 30vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

aside p {
  font-size: 4vmin;
}
aside span {
  font-size: 2.5vmin;
}

#toolkit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
}

.tool {
  all: unset;
  width: 10vmin;
  height: 10vmin;
  background-color: #cccdc6;
  cursor: pointer;
  border: 0.22vmin solid black;
}

.image {
  width: 10vmin;
  height: 10vmin;
}

#axe .image {
  background: url(./img/axe.png) center/cover no-repeat;
}

#pickaxe .image {
  background: url(./img/pickaxe.png) center/cover no-repeat;
}

#shovel .image {
  background: url(./img/shovel.png) center/cover no-repeat;
}

.dirt {
  background: url(./img/dirt.png) no-repeat center center/cover;
}

.grass {
  background: url(./img/grass.png) no-repeat center center/cover;
}

.leaves {
  background: url(./img/leaves.png) no-repeat center center/cover;
}

.stone {
  background: url(./img/stone.png) no-repeat center center/cover;
}

.wood {
  background: url(./img/wood.png) no-repeat center center/cover;
}

.food {
  background-color: hsl(50, 100%, 50%);
  /* border: 0.25vmin solid black; */
}
