
@font-face {
  font-family: 'Minecraft';
  src: url(./font/Minecraft.woff);
}

* {
 font-family: 'Minecraft';
}  

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body::after {
  content: "";
  background: url(https://wallpapercave.com/wp/wp2868363.jpg) center center/cover no-repeat;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#game-board {
  background-color: #87ceeb;
 
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  margin: auto;
}

aside {
  width: 30vmin;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside p {
  font-size: 4vmin;
}
aside span {
  font-size: 2.5vmin;
}

#inventory-container, #toolkit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vmin;
}

#inventory, #toolkit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2vmin;
}

#inventory div, #toolkit div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vmin;
}

#reset {
  text-align: center;
  width: 14vmin;
  height: 5vmin;
  margin: 2vmin;
  background-color: black;
  color: white;
  font-size: 2.5vmin;
}

button {
  all: unset;
  width: 7vmin;
  height: 7vmin;
  background-color: #cccdc6;
  cursor: pointer;
  border: 0.22vmin solid black;
  border-radius: 5px;
}

.game-element {
  cursor: pointer;

}
.selected-tool {
  border: 0.22vmin solid red;
}

.hovered-tool {
  border: 0.25vmin solid white;

}

#axe {
  background: url(./img/axe.png) center/cover no-repeat;
}

#pickaxe {
  background: url(./img/pickaxe.png) center/cover no-repeat;
}

#shovel {
  background: url(./img/shovel.png) center/cover no-repeat;
}

.dirt, #dirt {
  background: url(./img/dirt.png) no-repeat center center/cover;
}

.grass, #grass {
  background: url(./img/grass.png) no-repeat center center/cover;
}

.leaves, #leaves {
  background: url(./img/leaves.png) no-repeat center center/cover;
}

.stone, #stone {
  background: url(./img/stone.png) no-repeat center center/cover;
}

.wood, #wood {
  background: url(./img/wood.png) no-repeat center center/cover;
}

.sky {
  background-color: #87ceeb;
}
